body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 430px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
  margin: 12px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 12px;
  margin: 12px;

}

.button-container {
  background: #e3f4ff;
  margin: 12px;
  text-align: center;
  padding: 12px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 12px;
}