      div {
        color: white;
        background-color: red;
        font-weight: 600px;
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
      }